
<!--TODO 
  CAMBIAR ESTE CODIGO JAVAVSCRIPT DE REDIRECCIÓN ESPANTOSO
  POR UNA SOLUCION ELEGANTE EN DJANGO.
-->
{% if user.is_authenticated %}
<script>
window.location.replace(window.location.href.replace("/accounts/login","/proposals"))
</script>
{% endif %}

{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Administrador de Tesis - página principal</title>

    <!--css-->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'custom/login.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" href="{% static 'favicon100.png' %}" sizes="180x180">
    <link rel="icon" href="{% static 'favicon32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'favicon16.png' %}" sizes="16x16" type="image/png">
  </head>

  
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Thesis manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">

        {% if form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for error in form.non_field_errors %}
            <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}

        <div class="container">
          <h2>Iniciar sesión web</h2>
          <form method="post" autocomplete="off" autocomplete="nope" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form.username|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Iniciar</button>
            <a href="{% url 'home' %}" class="btn btn-outline-secondary" role="button">
              Volver
            </a>
          </form>
        </div>
          
      </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  </body>
</html>




