{% extends 'base.html' %}
{% block content %}
{% load extra_tags %}
<form method="post">
    {% csrf_token %}
    <p>
        <br><h4 class="mb-3">Eliminando Tesis</h4>
        ¿Estas seguro de que quieres eliminar la tesis "{{ thesis }}"?<br>
        Se eliminarán los elementos asociados ({{ thesis|get_related_objects }})
        <div style="margin-bottom: 50px; margin-top:10px">
            <button type="submit" class="btn btn-success">guardar</button>
            <a href="{% url 'thesis:thesis_list' %}" class="btn btn-outline-secondary" role="button">
                volver
            </a>
        </div>
    </p>
</form>
{% endblock %}