{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <br>
  <h4 class="mb-3">Editando Tesis</h4>

  <form method="post" novalidate>
    {% csrf_token %}
  
    <div class="row">
  
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.title|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.status|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.nrc|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.descriptors|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.thematic_category|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.top_date|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.company_name|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.term|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.proposal|as_crispy_field }}
      </div>
  
    </div>
  
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        <div style="margin-bottom: 50px;">
          <button type="submit" class="btn btn-success">guardar</button>
          <a href="{% url 'thesis:thesis_list' %}" class="btn btn-outline-secondary" role="button">
            volver
          </a>
        </div>
      </div>
    </div>
    
    </form>
  
{% endblock %}