{% extends 'base.html' %}
{% block content %}
{% load extra_tags %}
<form method="post">
    {% csrf_token %}
    <p>
        <br><h4 class="mb-3">Eliminando Tipo de estatus de Tesis</h4>
        ¿Estas seguro de que quieres eliminar este tipo de estatus de tesis? "{{ thesisstatus }}"?<br>
        Se eliminarán los elementos asociados ({{ thesisstatus|get_related_objects }})
        <div style="margin-bottom: 50px; margin-top:10px">
            <button type="submit" class="btn btn-success">guardar</button>
            <a href="{% url 'thesis_status:thesis_status_list' %}" class="btn btn-outline-secondary" role="button">
                volver
            </a>
        </div>
    </p>
</form>
{% endblock %}