{% extends 'base.html' %} {% block content %}

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">
    Tareas por terminología {{terminologia.description}}
  </h1>
  {% if terminologia %}
  <div class="btn-toolbar mb-2 mb-md-0">
    <a href="/pdf/actporterminologia?terminologia={{terminologia.id}}" type="button" class="btn btn-sm btn-outline-secondary mr-2" target="_blank">
      Exportar lista en PDF
    </a>
    <a href="/pdf/actporterminologia_detalle?terminologia={{terminologia.id}}" type="button" class="btn btn-sm btn-outline-secondary" target="_blank">
      Exportar lista con detalle en PDF
    </a>
  </div>
  {% endif %}
</div>

{% include '../../messages.html' %} {% if list_of_terms %}
<form
  class="form-inline"
  action="{% url 'reporte:tareasporterm' %}"
  method="GET"
>
  <div class="form-group">
    <label for="terminologia" class="mr-2">Terminología</label>
    <select class="form-control mr-2" name="terminologia" id="terminologia" required>
      <option value="">-Selecciona una terminología-</option>
      {% for p in list_of_terms %}
      <option value="{{p.id}}">
        {{p.description}}
      </option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>
{% endif %} {% if propuestas or defensas or tesis %}
<br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tipo de tarea</th>
      <th>Título</th>
      
    </tr>
  </thead>
  <tbody>
    {% for p in propuestas %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Propuesta
      </td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.title}}</a
        >
      </td>
   
    </tr>
    <tr>
      <td colspan="3">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br />
                <h4>Detalle de la propuesta</h4>
                <p>
                  <br />
                  <strong>Título:&nbsp;</strong> <i>{{ p.title }}</i><br />
                  <strong>Fecha que fue entregada:&nbsp;</strong>
                  <i>{{ p.delivery_date }}</i><br />
                  <strong>Estatus:&nbsp;</strong> <i>{{ p.status }}</i><br />
                  {% if not p.student_2 %}
                  <strong>Estudiante:&nbsp;</strong> <i>{{ p.student_1 }}</i
                  ><br />
                  {% else %}
                  <strong>Estudiantes:&nbsp;</strong> <i>{{ p.student_1 }}</i> y
                  <i>{{ p.student_1 }}</i><br />
                  {% endif %}
                  <strong>Tutor académico:&nbsp;</strong>
                  <i>{{ p.academic_tutor }}</i><br />
                  <strong>Tutor empresarial:&nbsp;</strong>
                  <i>{{ p.company_tutor }}</i><br />
                  <strong>Terminología:&nbsp;</strong> <i>{{ p.term }}</i><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    {% for p in tesis %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Tesis
      </td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.title}}</a
        >
      </td>
   
    </tr>
    <tr>
      <td colspan="3">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br>
                <h4>Detalle del Trabajo de Grado</h4>
                <p>
                    <br>
                    <strong>ID:&nbsp;</strong> <i>{{ p.id }}</i><br>
                    <strong>Título:&nbsp;</strong> <i>{{ p.title|default:"No posee (mismo que la propuesta)" }}</i><br>
                    <strong>Fecha tope:&nbsp;</strong> <i>{{ p.top_date }}</i><br>
                    <strong>Estatus:&nbsp;</strong> <i>{{ p.status }}</i><br>
                    <strong>NRC:&nbsp;</strong> <i>{{ p.nrc }}</i><br>
                    <strong>Descriptores:&nbsp;</strong> <i>{{ p.descriptors }}</i><br>
                    <strong>Nombre de la compañía:&nbsp;</strong> <i>{{ p.company_name }}</i><br>
                    <strong>Terminología:&nbsp;</strong> <i>{{ p.term }}</i><br>
                    <strong>Propuesta:&nbsp;</strong> 
                    <i>{{ p.proposal }}</i>
                    <br>
                </p>
    
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    {% for p in defensas %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Defensa
      </td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.thesis.title}}</a
        >
      </td>
   
    </tr>
    <tr>
      <td colspan="3">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br>
                <h4>Detalle de defensa</h4>
                
                <p>
                    <br>
                    <strong>ID:&nbsp;</strong> <i>{{ p.id }}</i><br>
                    <strong>Fecha:&nbsp;</strong> <i>{{ p.defense_date }}</i><br>
                    <strong>Jurado 1:&nbsp;</strong> <i>{{ p.jury_1 }}</i><br>
                    <strong><i>
                        Jurado 1 
                        {% if not p.jury_1_assistance_confirmation %} 
                            no
                        {% endif %}
                        asiste
                    </i></strong><br>
                    <strong>Jurado 2:&nbsp;</strong> <i>{{ p.jury_2 }}</i><br>
                    <strong><i>
                        Jurado 2
                        {% if not p.jury_2_assistance_confirmation %} 
                            no
                        {% endif %}
                        asiste
                    </i></strong><br>
                    {% if p.jury_suplente %}
                    <strong>Jurado Suplente:&nbsp;</strong> <i>{{ p.jury_suplente }}</i><br>
                    <strong><i>
                        Jurado Suplente
                        {% if not p.jury_suplente_assistance_confirmation %} 
                            no
                        {% endif %}
                        asiste
                    </i></strong><br>
                    {% endif %}
                    <strong>Calificación:&nbsp;</strong> <i>{{ p.grade }}</i><br>
                    <strong>Fecha tope de entrega de correcciones:&nbsp;</strong> <i>{{ p.top_date_corrections }}</i><br>
                    <strong>Observaciones:&nbsp;</strong> <i>{{ p.observations }}</i><br>
                    <strong>Thesis:&nbsp;</strong> <i>{{ p.thesis }}</i><br>
                    <strong>Detalles:</strong><br>
                    {% if p.publication_mention %}
                    <i>Mención publicación&nbsp;</i><br>
                    {% endif %}
                    {% if p.honorific_mention %}
                    <i>Mención honorífica&nbsp;</i><br>
                    {% endif %}
                    {% if p.corrections_delivered %}
                    <i>Se entregaron correcciones&nbsp;</i><br>
                    {% endif %}
                    {% if p.grade_uploaded %}
                    <i>Se subió la calificación&nbsp;</i><br>
                    {% endif %}

                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} {% endblock %}
