{% extends 'base.html' %} {% block content %}

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">
    Tareas por terminología {{terminologia.first_name_1}}
  </h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-outline-secondary">
      Exportar lista en PDF
    </button>
  </div>
</div>

{% include '../../messages.html' %} {% if list_of_terms %}
<form
  class="form-inline"
  action="{% url 'reporte:tareasporterm' %}"
  method="GET"
>
  <div class="form-group">
    <label for="terminologia" class="mr-2">Terminología</label>
    <select class="form-control mr-2" name="terminologia" id="terminologia" required>
      <option value="">-Selecciona una terminología-</option>
      {% for p in list_of_terms %}
      <option value="{{p.id}}">
        {{p.description}}
      </option>
      {% endfor %}
    </select>
  </div>
  <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>
{% endif %} {% if propuestas %}
<br>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tipo de tarea</th>
      <th>Asignado como</th>
      <th>Título</th>
      <th>Opción</th>
    </tr>
  </thead>
  <tbody>
    {% for p in propuestas %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Propuesta
      </td>
      <td>Tutor</td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.title}}</a
        >
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Exportar detalle en PDF
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br />
                <h4>Detalle de la propuesta</h4>
                <p>
                  <br />
                  <strong>Título:&nbsp;</strong> <i>{{ p.title }}</i><br />
                  <strong>Fecha que fue entregada:&nbsp;</strong>
                  <i>{{ p.delivery_date }}</i><br />
                  <strong>Estatus:&nbsp;</strong> <i>{{ p.status }}</i><br />
                  {% if not p.student_2 %}
                  <strong>Estudiante:&nbsp;</strong> <i>{{ p.student_1 }}</i
                  ><br />
                  {% else %}
                  <strong>Estudiantes:&nbsp;</strong> <i>{{ p.student_1 }}</i> y
                  <i>{{ p.student_1 }}</i><br />
                  {% endif %}
                  <strong>Tutor académico:&nbsp;</strong>
                  <i>{{ p.academic_tutor }}</i><br />
                  <strong>Tutor empresarial:&nbsp;</strong>
                  <i>{{ p.company_tutor }}</i><br />
                  <strong>Terminología:&nbsp;</strong> <i>{{ p.term }}</i><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    {% for p in tesis %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Tesis
      </td>
      <td>Tutor</td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.title}}</a
        >
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Exportar detalle en PDF
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br>
                <h4>Detalle del Trabajo de Grado</h4>
                <p>
                    <br>
                    <strong>ID:&nbsp;</strong> <i>{{ p.id }}</i><br>
                    <strong>Título:&nbsp;</strong> <i>{{ p.title|default:"No posee (mismo que la propuesta)" }}</i><br>
                    <strong>Fecha tope:&nbsp;</strong> <i>{{ p.top_date }}</i><br>
                    <strong>Estatus:&nbsp;</strong> <i>{{ p.status }}</i><br>
                    <strong>NRC:&nbsp;</strong> <i>{{ p.nrc }}</i><br>
                    <strong>Descriptores:&nbsp;</strong> <i>{{ p.descriptors }}</i><br>
                    <strong>Nombre de la compañía:&nbsp;</strong> <i>{{ p.company_name }}</i><br>
                    <strong>Terminología:&nbsp;</strong> <i>{{ p.term }}</i><br>
                    <strong>Propuesta:&nbsp;</strong> 
                    <i>{{ p.proposal }}</i>
                    <br>
                </p>
    
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    {% for p in defensas %}
    <tr>
      <td>{{p.id}}</td>
      <td>
        Defensa
      </td>
      <td>Jurado</td>
      <td>
        <a
          data-toggle="collapse"
          href="#ProposaslDetail_{{p.id}}"
          role="button"
          aria-expanded="false"
          aria-controls="ProposaslDetail_{{p.id}}"
        >
          {{p.thesis.title}}</a
        >
      </td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Exportar detalle en PDF
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <div class="collapse multi-collapse" id="ProposaslDetail_{{p.id}}">
          <div class="row">
            <div class="col">
              <div class="card card-body">
                <br />
                <h4>Detalle de la Defensa</h4>
                <p>
                  <br />
                  Por trabajar
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} {% endblock %}
