{% load crispy_forms_tags %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.type|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.document_id|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.first_name_1|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.first_name_2|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.last_name_1|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.last_name_2|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.ucab_mail|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.personal_mail|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.phone_1|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.phone_2|as_crispy_field }}
      </div>
      <div class="col-md-6 col-sm-8 col-12">
        {{ form.observations|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-8 col-12">
        <div style="margin-bottom: 50px;">
          <button type="submit" class="btn btn-success">guardar</button>
          <a href="{% url 'persons:persons_list' %}" class="btn btn-outline-secondary" role="button">
            volver
          </a>
        </div>
      </div>
    </div>
  </form>