{% extends 'base.html' %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Personas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="" class="btn btn-outline-secondary" role="button">
                Crear Persona
            </a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          Exportar
        </button>
      </div>
    </div>

    <h5>Aquí deberían ir los filtros de búsqueda</h5>

    {% if list_of_persons %}
    
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <!--Solo algunos campos-->
                        <th>Nombre(s)</th>
                        <th>Apellido(s)</th>
                        <th>Tipo</th>
                        <th>Cedula</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
        {% for p in list_of_persons %}
            <tr>

                {% if not p.first_name_2 %}
                    <td><a href="">{{ p.first_name_1 }}</a></td>
                {% else %}
                    <td><a href="">{{ p.first_name_1 }} {{ p.first_name_2 }}</a></td>
                {% endif %}

                {% if not p.last_name_2 %}
                    <td>{{ p.last_name_1 }}</td>
                {% else %}
                    <td>{{ p.last_name_1 }} {{ p.last_name_2 }}</td>
                {% endif %}


                <td>{{p.type}}</td>
                <td>{{p.document_id}}</td>
                <td>
                    <a href="">Actualizar</a>
                    <a href="">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>No existen personas registradas.</p>
    {% endif %}

{% endblock %}