<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Defensas</title>
    <style>
      tr {
        border: 1px solid black;
        padding: 3px;
        background-color: black;
      }
      tr:nth-child(2n) {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h3>Defensas</h3>
        </div>
        {{ today }} {% if defense %}

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Calificación</th>
                <th>M.Publicación</th>
                <th>M.Honorífica</th>
                <th>Tesis</th>
              </tr>
            </thead>
            <tbody>
              {% for d in defense %}
              <tr>
                <td>
                  {{ d.id }}
                </td>
                <td>{{d.grade|default:"--"}}</td>
                <td>{{d.publication_mention}}</td>
                <td>{{d.honorific_mention}}</td>
                <td>{{d.thesis}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        {% endif %}
      </div>
    </div>
  </body>
</html>
