{% extends 'base.html' %}

{% block content %}
    <h2>Section title</h2>

    {% if latest_propuestas %}
    
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Estatus</th>
                        <th>Fecha de entrega</th>
                    </tr>
                </thead>
                <tbody>
        {% for p in latest_propuestas %}
            <tr>
                <td><a href="{% url 'detail' p.id %}">{{ p.title }}</a></td>
                <td>{{p.status}}</td>
                <td>{{p.delivery_date}}</td>
            </tr>
        {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <p>No propuetass are available.</p>
    {% endif %}

{% endblock %}


